.underline {
    text-decoration: underline;
}
  
  .overline {
    text-decoration: overline;
  }
  
  .line-through {
    text-decoration: line-through;
  }
  .none {
    text-decoration: none;
  }

  .decoration-none {
    text-decoration: none;
  }
